header{
    width:100%;
    background-color: transparent; 
    color:#8BC34A; 
    font-size:200%;
    padding: 15px;
    position: fixed;
    z-index: 999;
}

.page-heading h1 {
    font-family: "Playfair Display",serif;
    margin: 30px 0 20px;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 2.5rem;
    color: #313131;
    letter-spacing: 1px;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #313131;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer .footer-content {
    background: #faf8f7;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    color: #313131;
}

footer .footer-content .office-city {
    color: #313131;
    font-weight: 600;
    margin-top: .8em;
    margin-bottom: .5rem;
}

footer .footer-content .office-address {
    font-size: .9rem;
    font-weight: 400;
    color: #313131;
}

footer .footer-content .office-email {
    font-size: .9rem;
    font-weight: 400;
    color: #313131;
}

footer .footer-content .office-phone {
    font-size: .9rem;
    font-weight: 400;
}

footer .footer-content .members {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

footer .footer-content .members figure {
    float: left;
    padding: 0 10px;
    height: 120px;
    width: 120px;
    margin: 0;
    text-align: center;
}

footer .footer-content .joinus {
    float: left;
    text-align: left;
    margin-left: 34px;
}

footer .footer-content .joinus-cta {
    margin-top: 15px;
}

footer .footer-content .members figure img {
    height: 100%;
    max-width: 100%;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.section-heading {
    font-family: "Playfair Display",serif;
    color: #313131;
    font-size: 1.6rem;
    margin: 30px 0 0 0;
    position: relative;
    line-height: 38px;
    text-align: left;
    font-weight: 700;
}

.banner {
    background-image: url(../images/home-banner.svg);
    text-align: center;
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    height: 430px;
    padding-top: 80px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

body{
    background-color: #607d8b1e;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}